{% if latest_poll_list %}
    <p>Список опросов:</p>
    <ul>
    {% for poll in latest_poll_list %}
        <li>{{ poll.question }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Нет доступных опросов.</p>
{% endif %}